
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 20px;
    overflow: hidden;
}


.tab-bar {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    gap: 10px;
    border-bottom: none;
}

.tab-bar button {
    flex: 1;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    height: 40px;
    background-color: #ffffff;
    border-top: 1px solid white;
    border-inline: 1px solid white;
}

.tab-bar button:hover {
    border-top-color: #919191;
    border-inline-color: #919191;
}

.tab-bar button.active {
    border-top-color: black;
    border-inline-color: black;
    border-bottom: 1px solid white;
}


.content {
    position: relative;
    flex: 1;
    display: none;
    padding: 20px;
    background-color: white;
}

.content.active {
    display: flex;
    flex-direction: column;
}


.form-section {
    flex: 1;
    overflow-y: scroll;
}

#tab3 {
    height: 80%;
}

.form-row {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    width: 500px;
}

.form-row label {
    flex: 1;
    font-size: 14px;
    color: black;
}

.form-row input[type="number"],
.form-row input[type="text"] {
    flex: 2;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
}

.form-row input[type="checkbox"] {
    margin-right: 10px;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    width: 20px;
    height: 20px;
}


.control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
}

.control-panel .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    cursor: pointer;
}

.control-panel .button:hover {
    background-color: #e6e6e6;
}

.control-panel .button img {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
}

.control-panel .button span {
    font-size: 12px;
    color: #919191;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ddd;
    padding: 3px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 80px;
    text-overflow: ellipsis;
}

th {
    background-color: #919191;
    color: white;
    font-size: 12px;
}

td {
    font-size: 12px;
    color: black;
    position: relative;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

td:hover {
    overflow: visible;
    z-index: 10;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.company-container {
    padding-inline: 10px;
    overflow: scroll;
}

.dropdown {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
}

.buttons {
    position: fixed;
    bottom: 150px;
    right: 60px;
}


#tab2 input, #tab2 select {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#log-area-wrapper {
    font-size: 14px;
    position: fixed;
    right: 70px;
    top: 50px;
    background-color: #989898;
    border: 1px solid black;
    color: white;
    z-index: 100;
    width: 260px;
    height: 60px;
    text-align: center;
    box-shadow: black 0 0 20px;
    display: flex;
    justify-content: center;
}

#log-area {
    background-color: #989898;
    width: 250px;
    height: 50px;
    padding: 3px;
    border: 1px solid black;
    margin-block: auto;
}



#interface-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #ccc;
}


#rubric-container {
    width: 30%;
    border-right: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#reset-filter {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    cursor: pointer;
    text-align: center;
}

#reset-filter:hover {
    background-color: #e6e6e6;
}


.table-container {
    flex: 1;
}

#tab1 {
    overflow-y: scroll;
}

#rubric-table-side th, #rubric-table-side td {
    border: 1px solid #ddd;
    padding: 7px 5px;
    text-align: left;
    font-size: 12px;
    word-wrap: break-word;
    white-space: nowrap;
}

#rubric-table-side th {
    background-color: #919191;
    font-weight: bold;
    text-align: center;
}

#rubric-table-side tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

#rubric-table-side tr.selected {
    background-color: #d6d6d6;
    font-weight: bold;
}



.resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    cursor: col-resize;
    z-index: 1;
    background-color: transparent;
}

.region-container {
    position: relative;
    max-width: 400px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    display: none;
    overflow-y: auto;
    max-height: 300px;
}

.toggle-button {
    display: inline-block;
    padding: 5px 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #707070;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.toggle-button:hover {
    background-color: #878787;
}

.region {
    margin-top: 5px;
    cursor: pointer;
}

.region label {
    cursor: pointer;
}

.sub-regions {
    display: none;
    margin-left: 20px;
}

.sub-regions .city {
    display: flex;
    align-items: center;
    margin: 3px 0;
}

.expand-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
}

.expand-button:focus {
    outline: none;
}

#search-input {
    position: sticky;
    top: 0;
    width: 100%;
}

#rubric-table-side {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

#tab2 {
    overflow-y: scroll;
}

input#rubric-search {
    position: fixed;
    width: 300px;
    height: 30px;
    top: 65px;
    z-index: 99;
    margin-left: calc(50% - 200px);
}

.company-container {
    overflow-y: auto;
    border: 1px solid #ccc;
    margin: 20px 0;
}


#company-table {
    width: 100%;
    border-collapse: collapse;
}
#company-table th,
#company-table td {
    border: 1px solid #ccc;
    padding: 8px;
}


#company-table thead th {
    position: sticky;
    top: -1px;
    z-index: 2;
}